<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title prueba pug
  body
    h1 hola mundo que hace mmm :D lol
    script(src="./index.js")
    script.
      let foo = new Foo()
      foo.messane('que ahce parce')
